<div class="flex flex-row flex-wrap justify-center items-center gap-5 p-3 bg-gray-800">
  <div class=" bg-gray-200 rounded-3xl p-1  xl:w-7 sm:w-6 w-7 hover:cursor-pointer">
    <img class="" src="assets/notificationbell.svg" />
  </div>

  <div class="logo">
    <a href="/" class="placeholderlogo ml-5 mr-5">theForum</a>
    <img src="" />
  </div>

  <div class="bg-gray-200 rounded-3xl pl-4 pr-4 pt-1 pb-1 flex flex-row gap-2 items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
    </svg>
    <a href="/auth">{{loginstatus()}}</a>
  </div>
</div>
