<div class="flex flex-col items-center m-5 bg-gray-800">

  <!---OP Buttons--->
  <div class="flex flex-row items-center">
  @if (this.authservice.activeuser.id == this.thread.userowner.id) {
    <button class="p-2 bg-red-700 text-white" (click)="DeleteThread()">Delete Thread</button>
  }
  </div>

  <div class="flex flex-col items-center">
    <h3 class="m-2 text-white font-bold text-3xl">{{thread.title}}</h3>
    @for (post of thread.posts; track post.id) {
      <div class="flex flex-row w-900px bg-gray-700 m-2 p-3 items-center ">
        <div class="flex flex-col items-center gap-1 p-1 pr-4 border-r-2 border-gray-900">
          <p class="text-white">{{post.userposter.username}}</p>
          <img class="size-12" src="{{dataservice.backendurl}}/ForumApp/Users/{{post.userposter.id}}/Images/{{post.userposter.profilepicfilename}}" appFallbackimage/>
        </div>
        <div class="p-2">
          <quill-view>{{post.body}}</quill-view>
        </div>
      </div>
    }
  </div>

  <form class="flex flex-col items-center" formGroupName="postform" (ngSubmit)="SubmitPost()">
    <app-post-input [form]="postform"></app-post-input>
    <input class="bg-white p-2 text-black" type="submit" value="Submit Post" />
  </form>
</div>
