<div class="authpage">

  <div class="formsection">
    <button class="formselection" (click)="SwitchForm()">Go {{status}}</button>
    <form class="form" *ngIf="Loginform" [formGroup]="loginform" (ngSubmit)="LoginTest()">
      <p class="testheader">this is currently for testing, input any credentials to Login</p>
      <h3 class="username">Username</h3>
      <input class="forminput"  type="text" placeholder="Enter Username" />
      <h3 class="password">Password</h3>
      <input class="forminput" type="text" placeholder="Enter Password" />
      <input class="submit" type="submit" value="Login" />
    </form>

    <form class="form" *ngIf="Registerform" [formGroup]="registerform" (ngSubmit)="Register()">
      <h3 class="username">Username</h3>
      <input class="forminput" type="text" placeholder="Enter Username" />
      <h3 class="username">Password</h3>
      <input class="forminput" type="text" placeholder="Enter Password" />
      <input class="submit" type="submit" value="Register" />
    </form>
  </div>

</div>
