<div class="flex flex-col flex-wrap items-center">

  <button class="xl:w-40 sm:w-20 p-2 text-white bg-gray-500" (click)="CreateThread()">Create Thread</button>

  <div class="m-2 p-4 bg-gray-800">
    @if (threads.length == 0) {
      <p class="text-2xl text-white">No Threads</p>
    }
    @for (thread of threads; track thread.id) {
      <div (click)="NavigateToThread(thread.id)" class="bg-gray-700 m-2 p-2 flex flex-row content-evenly hover:cursor-pointer hover:bg-gray-600">
        <div>
          <p class="text-white">{{thread.date | date}}</p>
          <p class="text-white">{{thread.title}}</p>
        </div>
        <div class="flex flex-col ml-5 mr-5">
          <p class="text-white">Posts</p>
          <p class="text-white">{{thread.numofposts}}</p>
        </div>
        <div class="flex flex-col">
          <p class="text-white">Latest Post</p>
          <div class="flex flex-row">
            <img class="size-10" src=""  appFallbackimage/>
            <p class="text-white">{{thread?.lastpost?.date | date }}</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
